html {
	scroll-behavior: smooth;
}

html, body {
  scroll-padding-top: 70px;
  font-family: 'Fira Code'
  font-size: 18px;
}

h1 {
  font-family: 'Fira Code'
  text-align: left;
  color: #c0b8ca;
  background-color: #e1e9e1; /*PINK*/
}

h2 {
  font-family: 'Fira Code'
  text-align: right;
  color: #c0b8ca;
}

.set1 form.well { 
background: #c4d3cc;
opacity: 0.70;
border: 0px;
}

.set2 form.well { 
background: #EAE7ED;
opacity: 0.70;
border: 0px;
}

.set3 form.well { 
background: #ebe7e4;
opacity: 0.70;
border: 0px;
}

p {
  text-align: center;
  color: black;
  padding-left: 20px;
  font-size: 18px;
}


.navbar {
  font-family: 'Fira Code';
  background: #EAE7ED;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
